.header {
  background: url(../../../assets/img/header-bg.png) no-repeat center center;
  background-size: cover;
  height: 22rem;
  margin-bottom: 10rem;
  text-align: center;

  img {
    height: 125%;
    position: relative;
    top: 2rem;
  }
}
