.header {
  background: url(../../../assets/img/header-bg.png) no-repeat center center;
  background-size: 100% 100%;
  height: 16rem;
  margin-bottom: 5rem;
  text-align: center;

  img {
    height: 125%;
    position: relative;
    top: 2rem;
  }
}
