
:global html {
  height: 100%;
}

:global body {
  /* background: rgba(200, 200, 200, .3); */
  font-family: Avenir Next, Avenir, Helvetica, sans-serif;
  font-size: 1.4rem;
  height: 100%;

  @media(max-width: 1000px) {
    font-size: 1.2rem;
  }
}


:global #app {
  background: white;
  border: 1px solid rgba(149, 146, 145, 1);
  border-width: 0 1px;
  box-shadow: 0 0 10px grey;
  min-height: 100%;
  margin: 0 auto;
  max-width: 1200px;
  min-width: 900px;
}

:global #react-root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

:global main {
  flex: 1;
  margin-bottom: 4rem;
  text-align: center;
}

:global strong {
  color: #78c6c7;
  font-weight: 400;
}

:global em {
  color: #c7375c;
  font-style: normal;
}
